$font-brand: 'Znikomit';
$font-shape: 'RixYeoljeongdo_Regular';
$font-image: 'Coolvetica';

*{
  font-size: min(4rem, 35px);
}

:host{
  height: 10rem;
  max-height: 100px;
  padding-bottom: 1rem;

  display: flex;
}

.italic{
  display: inline-block;
  transform: skewX(-15deg);
  -webkit-text-stroke: .1rem black;
}

.italic__nostroke{
  display: inline-block;
  transform: skewX(-15deg);
}

.left{
  width: 20%;
  height: 100%;

  font-family: $font-brand;
  -webkit-text-stroke: .1rem black;
}

.left__text{
  margin-left: 10%;
  margin-top: 1%;
}

.center{
  width: 60%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $font-shape;
  transition: .5s;
}

.center__cont{
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $font-shape;
  transition: .5s;
}

.center__text{
  z-index: 0;
}

.center__text--square,
.center__text--triangle,
.center__text--circle{
  display:inline-block;
  transition: 0.5s;
}

.center__text--square{
  z-index: 1;
}

.center__text--circle{
  position: relative;
}

.center__orbit{
  opacity: 0;
  position: absolute;
  width: 12rem;
  max-width: 100px;
  transition: 1s;
}

.right{
  width: 20%;
  height: 100%;

  position: relative;

  font-family: $font-brand;
  -webkit-text-stroke: .1rem black;
}

.right__text{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5%;
  margin-bottom: 1%;
}
