$font-brand: 'Znikomit';
$font-shape: 'RixYeoljeongdo_Regular';
$font-image: 'Coolvetica';
$color-bg: #dee1e6;
$color-red: rgb(255, 87, 104);
$color-green: rgb(141, 215, 192);
$color-blue: rgb(1, 165, 228);

*{
  font-size: min(4rem, 35px);
}

.italic__nostroke{
  display: inline-block;
  transform: skewX(-15deg);
}

.italic{
  @extend .italic__nostroke;
  -webkit-text-stroke: .1rem black;
}

:host{
  height: 10rem;
  max-height: 100px;
  padding-bottom: 1rem;

  display: flex;
}

.left{
  width: 20%;
  height: 100%;

  font-family: $font-brand;
  -webkit-text-stroke: .1rem black;
}

.left__text{
  margin-left: 10%;
  margin-top: 1%;

  transition: 0.5s;

  :hover{
    color:transparent;
    -webkit-text-stroke: .3rem transparent;
  }
}

.left__text--cont{
  display: inline-block;
}

.left__text--cont:nth-child(1){
  background-clip: text;
  background-color: $color-green;
}

.left__text--cont:nth-child(2){
  background-clip: text;
  background-color: $color-red;
}

.left__text--cont:nth-child(3){
  background-clip: text;
  background-color: $color-blue;
}

.left__text--cont:nth-child(4){
  background-clip: text;
  background-color: $color-green;
}

.center{
  width: 60%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $font-shape;
  transition: .5s;
}

.center__cont{
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $font-shape;
  transition: .5s;
}

.center__text{
  z-index: 0;
}

.center__text--square,
.center__text--triangle,
.center__text--circle{
  display:inline-block;

  transition: 0.5s;
}

.center__text--square{
  z-index: 1;
}

.center__text--circle{
  position: relative;
}

.center__orbit{
  width: 12rem;
  max-width: 100px;

  position: absolute;

  opacity: 0;
  transition: 1s;
}

.right{
  width: 20%;
  height: 100%;

  position: relative;

  font-family: $font-brand;
  -webkit-text-stroke: .1rem black;
}

.right__text{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5%;
  margin-bottom: 1%;
}






//left와 right에 hover하면 italic class빼버리고, left__text의 스타일을 아래와 같이 변경, 색을 주기적으로 바꾸어주기까지 하면 완성
// .left__text{
//   color:transparent;
//   -webkit-text-stroke: .2rem transparent;
//   background-clip: text;
//   background-color: blue;
// }
