$font-brand: 'Znikomit';
$font-shape: 'RixYeoljeongdo_Regular';
$font-image: 'Coolvetica';

.font{
  display: inline-block;
  font-family: $font-brand;

  margin-bottom: -.5rem;
}

.italic{
  display: inline-block;
  transform: skewX(-15deg);
}

//

.temp{
  height: 2000px;
  width: 100%;
  background-color: #dee1e6;
}

.main__img{
  width: 100%;
  position: relative;
}

.main__img--img{
  position: relative;
  width: 100%;
}

.main__img--text{
  position: absolute;
  left: 3rem;
  bottom: 39rem;

  font-family: $font-image;
  font-size: 5em;
  color: white;
}
