$font-brand: 'Znikomit';
$font-shape: 'RixYeoljeongdo_Regular';
$font-image: 'Coolvetica';
$font-detail: 'NEXON Lv1 Gothic OTF';

$color-bg: #dee1e6;
$color-red: rgb(255, 87, 104);
$color-green: rgb(141, 215, 192);
$color-blue: rgb(1, 165, 228);

.italic{
  display: inline-block;
  transform: skewX(-15deg);

  -webkit-text-stroke: .1rem black;
}
