$font-brand: 'Znikomit';
$font-shape: 'RixYeoljeongdo_Regular';
$font-image: 'Coolvetica';
$font-detail: 'NEXON Lv1 Gothic OTF';

$color-bg: #dee1e6;
$color-red: rgb(255, 87, 104);
$color-green: rgb(141, 215, 192);
$color-blue: rgb(1, 165, 228);

#horizontal{
  height: max-content;
  width: 40vw;
  max-width: 700px;
}

.italic__detail{
  display: inline-block;

  position: relative;

  transition: 0.5s;
  transform: skewX(-15deg);
  font-family: $font-brand;
  -webkit-text-stroke: .5rem black;
}

.detail__cont{
  min-height: calc(100vh - 13rem);
  max-width: 1600px;
  width: 100%;
  padding-left: max(calc((100vw - 1600px) / 2), 0px);
  padding-right: max(calc((100vw - 1600px) / 2), 0px);

  justify-content: space-between;

  background-color: $color-bg;
}

.detail__back{
  display: inline-block;

  margin: min(10rem, 100px);

  transition: 0.5s;
  font-size: min(8rem, 80px);
  font-family: $font-shape;
}

.detail__title{
  @extend .detail__back;
  float: right;
}

.detail__title--cont{
  display: inline-block;
}

.detail__piece{
  width: 100%;
  min-height: 15vw;

  display: flex;
  justify-content: space-between;
}

.detail__piece--imgRight{
  display: inline-block;
  height: 30vw;
  margin: 5rem;
  margin-right: 10rem;
}

.detail__piece--imgLeft{
  @extend .detail__piece--imgRight;
  margin-left: 10rem;
}

.detail__piece--titleRight{
  margin: 1rem;
  margin-left: 0rem;
  margin-bottom: 3rem;

  font-family: $font-shape;
  font-size: 3rem;
}

.detail__piece--titleLeft{
  @extend .detail__piece--titleRight;
  margin-right: 0rem;
}

.detail__piece--authorRight{
  margin: 1rem;
  margin-right: 0rem;

  font-family: $font-shape;
  text-align: right;
}

.detail__piece--authorLeft{
  @extend .detail__piece--authorRight;
  margin-left: 0rem;
}

.detail__piece--textRight{
  width: 30vw;
  height: auto;

  display: inline-block;
  margin-top: 5rem;
  margin-right: 10rem;

  font-family: $font-detail;
  font-size: min(1.8rem, 20px);
  line-height: 1.5;
}

.detail__piece--textLeft{
  @extend .detail__piece--textRight;
  margin-left: 10rem;
}

.detail__piece--iframeRight{
  width: 40vw;
  height: 15vw;

  margin: 5rem;
  margin-right: 10rem;
}

.detail__piece--iframeLeft{
  @extend .detail__piece--iframeRight;
  margin-left: 10rem;
}

.detail__line{
  width: 86vw;
  max-width: 1350px;
  height: .1rem;
  margin: 2rem auto;
  background-color: gray;
}

.detail__footer{
  height: 10rem;
}

@media all and (max-width:767px) {
  .detail__piece{
    flex-direction: column;
    align-items: center;
  }
  .detail__piece--imgLeft,
  .detail__piece--imgRight{
    width: 50vw;
    height: fit-content;
  }
  .detail__piece--textLeft,
  .detail__piece--textRight{
    width: 40vw;
    margin: 1rem;
  }
  .detail__piece--iframeLeft,
  .detail__piece--iframeRight{
    width: 50vw;
    height: 30vw;
    margin: 1rem;
  }
  .detail__line{
    width: 50vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .reverse{
    flex-direction: column-reverse;
  }
}
