$font-brand: 'Znikomit';
$font-shape: 'RixYeoljeongdo_Regular';
$font-image: 'Coolvetica';
$color-bg: #dee1e6;

.italic__detail{
  display: inline-block;

  position: relative;

  transition: 0.5s;
  transform: skewX(-15deg);
  font-family: $font-brand;
  -webkit-text-stroke: .5rem black;
}

.detail__cont{
  height: 130vh;
  width: 100%;

  justify-content: space-between;

  background-color: $color-bg;
}

.detail__back{
  display: inline-block;

  margin: min(10rem, 100px);

  transition: 0.5s;
  font-size: min(8rem, 80px);
  font-family: $font-shape;
}

.detail__title{
  @extend .detail__back;
  float: right;
}
