$font-brand: 'Znikomit';
$font-shape: 'RixYeoljeongdo_Regular';
$font-image: 'Coolvetica';
$color-bg: #dee1e6;

.italic{
  display: inline-block;
  transform: skewX(-15deg);

  font-family: $font-brand;
  -webkit-text-stroke: .1rem white;
}

.italic__title{
  @extend .italic;
  -webkit-text-stroke: .1rem black;
}

.italic__trans{
  transform: skewX(-15deg);
  transition: 0.5s;
  background-clip: text;
  background-color: transparent;
  -webkit-text-stroke: .3rem transparent;
  color: transparent;
}

:host{
  width: 100vw;
}

.main__cont{
  min-height: calc(100vh - 13rem);
  width: 100%;

  background-color: $color-bg;
}

.main__img{
  width: 100%;

  position: relative;

  transition: 1s;
  filter: grayscale(1);
}

.main__img--img{
  width: 100%;

  position: relative;
}

.main__img--text{
  position: absolute;
  left: 3rem;
  bottom: 3rem;

  font-family: $font-image;
  font-size: min(4rem, 35px);
  color: white;
}

.subject{
  margin: 3rem 5rem;
}

.subject__title{
  position: absolute;

  transition: 1s;
  font-family: $font-brand;
  font-size: min(4rem, 35px);
  -webkit-text-stroke: .1rem black;
}

.subject__title--color{
  position: absolute;

  font-family: $font-brand;
  font-size: min(4rem, 35px);
  -webkit-text-stroke: .1rem black;

  opacity: 0;
  transition: 1s;
  background-clip: text;
  background-color: transparent;
  -webkit-text-stroke: .3rem transparent;
  color: transparent;
}

.subject__title--cont{
  display: inline-block;
}

.subject__empty{
  height:5rem;
}

.subject__cont{
  display: flex;
  flex-wrap: wrap;
}

.subject__each{
  width: 15%;

  position: relative;
  margin: 2.5%;

  transition: 1s;
  filter: grayscale(1);
}

.subject__img{
  width: 100%;
}

.subject__text{
  position: absolute;
  bottom: .3rem;
  right: .8rem;

  font-family: $font-image;
  font-size: 3rem;
  color: white;
}
