<div class="subject">
  <div class="subject__title">S<div class="italic__title">u</div>bj<div class="italic__title">e</div>cts</div>
  <div class="subject__cont">
    <div class="subject__each"*ngFor="let subject of appService.subjects">
      <img class="subject__img" src="assets/img/{{subject.title}}.png" alt="">
      <app-water (mouseenter)="displayText(appService.subjects.indexOf(subject))"
      (mouseleave)="hideText(appService.subjects.indexOf(subject))"></app-water>
      <div class="subject__text" [innerHTML]=subject.text></div>
    </div>
  </div>
</div>
