$font-brand: 'Znikomit';
$font-shape: 'RixYeoljeongdo_Regular';
$font-image: 'Coolvetica';

.font{
  display: inline-block;
  font-family: $font-brand;

  margin-bottom: -.5rem;
}

.italic{
  display: inline-block;
  transform: skewX(-15deg);

  font-family: $font-brand;
  -webkit-text-stroke: .1rem white;
}

:host{
  width: 100vw;
}

.subject{
  margin: 3rem 5rem;
}

.subject__title{
  font-family: $font-brand;
  font-size: 5rem;
  -webkit-text-stroke: .1rem black;
}

.subject__cont{
  display: flex;
  flex-wrap: wrap;

  :hover{
    cursor: pointer;
  }
}

.subject__each{
  width: 15%;

  position: relative;
  margin: 2.5%;
}

.subject__img{
  width: 100%;
}

.subject__text{
  position: absolute;
  bottom: .3rem;
  right: .8rem;

  font-family: $font-image;
  font-size: 3rem;
  color: white;
}
