<div class="main__cont">
  <div class="main__img">
    <img class="main__img--img" src="assets/img/main.png" alt="main.png">
    <div class="main__img--text" [innerHTML]=appService.imgText.italicized>
  </div>
</div>
<div class="subject">
  <span class="subject__title">S<div class="italic__title">u</div>bj<div class="italic__title">e</div>cts</span>
  <div class="subject__cont" (click)="movePage()">
    <div class="subject__each"*ngFor="let subject of appService.subjects">
      <img class="subject__img" src="assets/img/{{subject.title}}.png" alt="">
      <div class="subject__text" [innerHTML]=subject.text></div>
    </div>
  </div>
</div>
