body{
  cursor: none;
}

.cursor{
  width: 2rem;
  height: 2rem;
  // border: 2px solid black;
  // border-radius: 50%;
  position:sticky;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events:none;
}

canvas{
  position: absolute;
  width: 200%;
  height: 100%;
}

.cursor-hover{
  transform: scale(1.5);
}

// html { font-size: 62.5%; }
html { font-size: 0.7vw; }
.image { width: 12rem; } //120px
.item { font-size: 1.6rem; } //16px
.copyright { margin-top: 5rem; } //50px

@font-face{
  font-family: 'Znikomit';
  src: url('assets/font/Znikomit.otf') format('opentype');
}

@font-face{
  font-family: 'Coolvetica';
  src: url('assets/font/Coolvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-brand: 'Znikomit';
$font-shape: 'RixYeoljeongdo_Regular';
$font-image: 'Coolvetica';

// *{
//   cursor: url(assets/img/cursor.png), auto;
// }

body{
  margin: 0px;

  //no drag
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select:none;
}

body::-webkit-scrollbar{
  display: none;
}
