@font-face{
  font-family: 'Znikomit';
  src: url('assets/font/Znikomit.otf') format('opentype');
}

@font-face{
  font-family: 'Coolvetica';
  src: url('assets/font/Coolvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-brand: 'Znikomit';
$font-shape: 'RixYeoljeongdo_Regular';
$font-image: 'Coolvetica';
$color-bg: #dee1e6;

// html { font-size: 62.5%; }
html { font-size: 0.7vw; }
.image { width: 12rem; } //120px
.item { font-size: 1.6rem; } //16px
.copyright { margin-top: 5rem; } //50px

body{
  margin: 0px;

  cursor: none;

  //드래그 금지
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select:none;
}

//스크롤바 숨기기
body::-webkit-scrollbar{
  display: none;
}

.cursor{
  display: none;
  width: 2rem;
  height: 2rem;

  position:sticky;
  z-index: 1000;
  transform: translate(-50%, -50%);

  pointer-events:none;
}

canvas{
  //width 100%, height 100%로 하면 arc가 이상하게 그려짐.
  width: 200%;
  height: 100%;

  position: absolute;
}
